<!DOCTYPE html>
{% extends 'reportApp/BasePage.html' %}
{% load static %}


{% block bodyblock %}



    <div class="container">
        <h4> <strong> Hi there! <br> Welcome Back! <br><br><br> </strong> </h4>
        <h5 style=" color : red;" > {{ message }} </h5>
        <form class="form-inline" method="POST">
          {% csrf_token %}

          <div class="input-group mb-2 mr-sm-2">
            <div class="input-group-prepend">
              <div class="input-group-text">Username</div>
            </div>
            <input type="text" name="username" class="form-control" id="inlineFormInputGroupUsername2" placeholder="Enter your Username">
          </div>
          <div class="input-group mb-2 mr-sm-2">
            <div class="input-group-prepend">
              <div class="input-group-text">Password</div>
            </div>
            <input type="password" name="password" class="form-control" id="inlineFormInputGroupUsername2" placeholder="Enter your password">
          </div>


          <button type="submit" class="btn btn-info mb-2">Login</button>
        </form>
        <h6> <strong> If you are a new user, please register <a href="{% url 'reportApp:register' %}" class="btn btn-outline-success"> here</a> </strong> </h6>


    </div>






{% endblock %}
